# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ncc-thang7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
